<% include partials/header %>

<div class="container">
	<h2> <%= campground.name %> </h2>
	<img src=<%= campground.image %> alt=<%=campground.name%> >
	<p><%= campground.description %></p>
</div>

<% include partials/footer %>