h1 {
	color: #000000;
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	/* ANOTHER USAGE */
	border: 5px dashed rgb(15,156,45);
}

li {
	color: rgb(11,99,150);
}

h4 {
	color: rgba(11,99,150,.2);	
	background: rgb(255,100,80);
}

body {
	/*background: url(https://cdn.pixabay.com/photo/2016/07/14/09/04/texture-1516370_960_720.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/

	background: pink;
}

