<h1>Search For Movie</h1>

<form method="GET" action="/results">
    <label for="search"> Search </label>
    <input id="search" type="text" placeholder="Searching?" name="searchValue">
    <input type="submit">
</form>